.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .playlist__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .playlist-title__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }
  
  .playlist-title__svg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  .track__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 350px;
  }
  
  .track__title_image {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
  }
  
  .track__title_svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
  }
  
  .track__title_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  
  .track__title_span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
  }
  
  .track__author {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  .track__author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
  }
  
  .track__album {
    width: 245px;
  }
  
  .track__album_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
  }
  
  .track__time_svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
  }

  .track__liked_svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: #653596;
    stroke: #653596;
  }
  
  .track__time_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
  }

  @keyframes glowing {
    0% { background-color: #D9B6FF; box-shadow: 0 0 3px #D9B6FF; }
    50% { background-color: #AD61FF; box-shadow: 0 0 10px #AD61FF; }
    100% { background-color: #653596; box-shadow: 0 0 3px #653596; }
    }
  
  .dote {
    background-color: #AD61FF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
  }

  .dote_playing {
    background-color: #AD61FF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    animation: glowing 1300ms infinite;
  }
 

