.filter__block {
    background-color:#181818;
    gap: 20px;
}

.filter__items {
    color:#ffffff;
    
}

.filter__list {
    background:#313131;
    border-radius: 12px;
    padding: 15px;
    gap:10px;
    margin-top: 15px;
    position: absolute;
    z-index: 15;
    width: 200px;
}